@model LandingPageItBeep.Models.Lookup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lookup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LookupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LookupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LookupNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LookupNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CraetedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CraetedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LookupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
